<PaperToolbar>
  <PaperToolbarTools>
    <PaperSidenavToggle @name="left2" as |toggleAction|>
      <PaperButton @classNames="hide-gt-sm" @iconButton={{true}} @onClick={{action toggleAction}}>
        <PaperIcon @icon="menu" />
      </PaperButton>
    </PaperSidenavToggle>
    <h2>
      Moor
      {{paper-icon "chevron-right"}}
      Verwaltung
      {{paper-icon "chevron-right"}}
      Pr端fende
      <span class="hide-sm"></span>
    </h2>
    <span class="flex"></span>
    <PaperButton @iconButton={{true}} @onClick={{action "addExaminator"}}>
      {{paper-icon "person add"}}
    </PaperButton>
    <PaperButton @iconButton={{true}}>
      {{paper-icon "more_vert"}}
    </PaperButton>
  </PaperToolbarTools>
</PaperToolbar>
<div class="overflow-y-scroll">
  <PaperContent>
    <PaperCard as |card|>
      <PaperDataPaginator @count={{resultsLength}} @limit={{limit}} @limitOptions={{limitOptions}} @page={{page}} @pages={{pages}} @onChangePage={{action (mut page)}} @onChangeLimit={{action (mut limit)}} @onIncrementPage={{action "incrementPage"}} @onDecrementPage={{action "decrementPage"}} @plural="Pr端fende" @meta={{meta}} />
      <PaperDataTable @sortProp="surname" @selectable={{true}} as |table|>
        <table.head as |head|>
          <head.column></head.column>
          <head.column @sortProp="givenname">
            Vorname
          </head.column>
          <head.column @sortProp="surname">
            Nachname
          </head.column>
          <head.column @sortProp="title">
            Titel
          </head.column>
          <head.column>Optionen</head.column>
        </table.head>
        <table.body as |body|>
          {{#each (sort-by table.sortDesc paginatedResults) as |m|}}
            <body.row @edit={{true}} as |row|>
              <row.cell>{{paper-icon "perm identity"}}</row.cell>
              <row.cell>{{m.givenname}}</row.cell>
              <row.cell>{{m.surname}}</row.cell>
              <row.cell>{{m.title}}</row.cell>
              <row.cell @edit={{true}} as |cell|>
                <PaperButton @iconButton={{true}} @onClick={{action "editExaminator" m}}>
                  {{paper-icon "edit"}}
                </PaperButton>
                <PaperButton @iconButton={{true}} @onClick={{action "deleteExaminator" m}}>
                  {{paper-icon "delete"}}
                </PaperButton>
              </row.cell>
            </body.row>
          {{/each}}
        </table.body>
      </PaperDataTable>
    </PaperCard>
  </PaperContent>
</div>
{{#if showCreateExaminatorDialog}}
  <ExaminatorDialog @closeDialog={{action "closeExaminatorDialog"}} @title="Erstelle Pr端fendes" @examinator={{newexaminator}} />
{{/if}}
{{#if showEditExaminatorDialog}}
  <ExaminatorDialog @closeDialog={{action "closeExaminatorDialog"}} @title="Bearbeite Pr端fendes" @examinator={{newexaminator}} />
{{/if}}
{{#if showReportDialog}}
  <DeleteDependencyDialog @store={{store}} @closeDialog={{action "closeDeleteExaminatorDialog"}} @objekt={{newexaminator}} />
{{/if}}