<PaperToolbar>
  <PaperToolbarTools>
    <PaperSidenavToggle @name="left2" as |toggleAction|>
      <PaperButton @classNames="hide-gt-sm" @iconButton={{true}} @onClick={{action toggleAction}}>
        <PaperIcon @icon="menu" />
      </PaperButton>
    </PaperSidenavToggle>
    <h2>
      Moor
      {{paper-icon "chevron-right"}}
      Verwaltung
      {{paper-icon "chevron-right"}}
      Allgemein
      <span class="hide-sm"></span>
    </h2>
    <span class="flex"></span>
    <PaperButton @iconButton={{true}}>
      {{paper-icon "more_vert"}}
    </PaperButton>
  </PaperToolbarTools>
</PaperToolbar>
<div class="overflow-y-scroll">
  <PaperContent>
    <PaperCard as |card|>
      <card.title as |title|>
        <title.text as |text|>
          <text.headline>Fach</text.headline>
        </title.text>
      </card.title>
      <PaperList>
        <PaperDataPaginator @limit={{limitSubject}} @page={{pageSubject}} @meta={{metaSubject}} @plural="Fächer" />
        <PaperDivider />
        {{#each paginatedSubjects as |subject|}}
          <PaperItem @class="md-1-line">
            {{paper-icon "book" class="md-avatar-icon"}}
            <div class="md-list-item-text">
              <h3>
                {{subject.name}}
              </h3>
            </div>
            <span class="flex"></span>
            <PaperButton @iconButton={{true}} @onClick={{action "editSubject" subject}}>
              {{paper-icon "edit"}}
            </PaperButton>
            <PaperButton @iconButton={{true}} @onClick={{action "deleteObject" subject}}>
              {{paper-icon "delete"}}
            </PaperButton>
          </PaperItem>
          <PaperDivider />
        {{/each}}
      </PaperList>
      <card.actions>
        <PaperButton @primary={{true}} @onClick={{action "addSubject"}}>
          Neues Prüfungsfach
        </PaperButton>
      </card.actions>
    </PaperCard>
    <PaperCard as |card|>
      <card.title as |title|>
        <title.text as |text|>
          <text.headline>Prüfungsart</text.headline>
        </title.text>
      </card.title>
      <PaperList>
        <PaperDataPaginator @limit={{limitTyp}} @page={{pageTyp}} @meta={{metaTyp}} @plural="Typen" />
        <PaperDivider />
        {{#each paginatedTyps as |typ|}}
          <PaperItem @class="md-1-line">
            {{paper-icon "bubble chart" class="md-avatar-icon"}}
            <div class="md-list-item-text">
              <h3>
                {{typ.name}}
              </h3>
            </div>
            <span class="flex"></span>
            <PaperButton @iconButton={{true}} @onClick={{action "editTyp" typ}}>
              {{paper-icon "edit"}}
            </PaperButton>
            <PaperButton @iconButton={{true}} @onClick={{action "deleteObject" typ}}>
              {{paper-icon "delete"}}
            </PaperButton>
          </PaperItem>
          <PaperDivider />
        {{/each}}
      </PaperList>
      <card.actions>
        <PaperButton @primary={{true}} @onClick={{action "addTyp"}}>
          Neue Prüfungsart
        </PaperButton>
      </card.actions>
    </PaperCard>
    <PaperCard as |card|>
      <card.title as |title|>
        <title.text as |text|>
          <text.headline>Module</text.headline>
        </title.text>
      </card.title>
      <PaperList>
        <PaperDataPaginator @limit={{limitModul}} @page={{pageModul}} @meta={{metaModul}} @plural="Module" />
        <PaperDivider />
        {{#each paginatedModuls as |modul|}}
          <PaperItem @class="md-3-line">
            {{paper-icon "bubble chart" class="md-avatar-icon"}}
            <div class="md-list-item-text">
              <h3>
                {{modul.name}}
              </h3>
              <h4>
                {{modul.abbreviation}}
              </h4>
              <p>
                {{modul.linkModulhandbuch}}
              </p>
            </div>
            <span class="flex"></span>
            <PaperButton @iconButton={{true}} @onClick={{action "editModul" modul}}>
              {{paper-icon "edit"}}
            </PaperButton>
            <PaperButton @iconButton={{true}} @onClick={{action "deleteObject" modul}}>
              {{paper-icon "delete"}}
            </PaperButton>
          </PaperItem>
          <PaperDivider />
        {{/each}}
      </PaperList>
      <card.actions>
        <PaperButton @primary={{true}} @onClick={{action "addModul"}}>
          Neues Modul
        </PaperButton>
      </card.actions>
    </PaperCard>
  </PaperContent>
</div>
{{#if showCreateSubjectDialog}}
  <SubjectDialog @closeDialog={{action "closeSubjectDialog"}} @title="Erstelle Prüfungsfach" @subject={{newsubject}} />
{{/if}}
{{#if showEditSubjectDialog}}
  <SubjectDialog @closeDialog={{action "closeSubjectDialog"}} @title="Bearbeite Prüfungsfach" @subject={{newsubject}} />
{{/if}}
{{#if showCreateTypDialog}}
  <TypDialog @closeDialog={{action "closeTypDialog"}} @title="Erstelle Prüfungsart" @typ={{newtyp}} />
{{/if}}
{{#if showEditTypDialog}}
  <TypDialog @closeDialog={{action "closeTypDialog"}} @title="Bearbeite Prüfungsart" @typ={{newtyp}} />
{{/if}}
{{#if showDeleteDialog}}
  <DeleteDependencyDialog @store={{store}} @closeDialog={{action "closeDeleteDialog"}} @objekt={{newobject}} />
{{/if}}
{{#if showCreateModulDialog}}
  <ModulDialog @closeDialog={{action "closeModulDialog"}} @title="Erstelle Modul" @modul={{newmodul}} />
{{/if}}
{{#if showEditModulDialog}}
  <ModulDialog @closeDialog={{action "closeModulDialog"}} @title="Bearbeite Modul" @modul={{newmodul}} />
{{/if}}