<PaperToolbar>
  <PaperToolbarTools>
    <PaperSidenavToggle @name="left2" as |toggleAction|>
      <PaperButton @classNames="hide-gt-sm" @iconButton={{true}} @onClick={{action toggleAction}}>
        <PaperIcon @icon="menu" />
      </PaperButton>
    </PaperSidenavToggle>
    <h2>
      Moor
      {{paper-icon "chevron-right"}}
      {{model.name}}
      {{paper-icon "chevron-right"}}
      drucken
    </h2>
    <span class="flex"></span>
    <PaperButton @iconButton={{true}}>
      {{paper-icon "more_vert"}}
    </PaperButton>
  </PaperToolbarTools>
</PaperToolbar>
<PaperSidenavContainer @class="inner-sidenav">
  <PaperSidenav @class="md-whiteframe-z2" @name="right1" @open={{rightSidebar}} @position="right" @closeOnClick={{false}} @lockedOpen={{rightSideBarLockedOpen}} @onToggle={{action (mut rightSidebar)}}>
    <PaperToolbar as |toolbar|>
      <PaperToolbarTools>
        Druckauswahl
        <span class="flex"></span>
        <PaperButton @onClick={{action "printSelection"}} @iconButton={{true}}>
          {{paper-icon "print" class="md-avatar-icon"}}
        </PaperButton>
      </PaperToolbarTools>
    </PaperToolbar>
    <PaperContent @padding={{true}}>
      <PaperList>
        {{#each printselection as |item|}}
          <PaperItem>
            #
            {{item.report.id}}
            {{#each (take 1 item.report.moduls) as |mod|}}
              {{mod.abbreviation}}
            {{/each}}
            {{item.examinator.surname}}
            <span class="flex"></span>
            <PaperButton @iconButton={{true}} @onClick={{action "decreaseTimes" item}}>
              {{paper-icon "remove"}}
            </PaperButton>
            {{item.times}}
            <PaperButton @iconButton={{true}} @onClick={{action "increaseTimes" item}}>
              {{paper-icon "add"}}
            </PaperButton>
          </PaperItem>
        {{/each}}
      </PaperList>
    </PaperContent>
  </PaperSidenav>
  <PaperContent @class="md-padding">
    <PaperCard as |card|>
      <card.title as |title|>
        <title.text as |text|>
          <text.headline>Suchen & Drucken</text.headline>
        </title.text>
      </card.title>
      <card.content>
        <div
          class="layout-column layout-gt-xs-row layout-wrap"
          style="justify-content: space-around"
        >
          <div class="layout flex-100">
            <div class="flex-gt-xs-20">
              <PaperAutocomplete @options={{model.reports}} @allowClear={{true}} @searchText={{readonly IDSearchText}} @onSearchTextChange={{action (mut IDSearchText)}} @selected={{selectedID}} @searchField="id" @labelPath="id" @placeholder="ID" @loadingMessage="Suche ID" @noMatchesMessage="Es gibt keine solche ID" @onSelectionChange={{action (mut selectedID)}} as |report autocomplete|>
                <PaperAutocompleteHighlight @label={{report.id}} @searchText={{autocomplete.searchText}} @flags="i" />
              </PaperAutocomplete>
            </div>
            <div class="flex-gt-xs-30">
              <SubjectAutocomplete @options={{model.subjects}} @selected={{subject}} />
            </div>
            <div class="flex-gt-xs-45">
              <TypAutocomplete @options={{model.typs}} @selected={{typ}} />
            </div>
          </div>
          <div
            class="layout-gt-xs-row layout-wrap flex-100"
            style="justify-content: space-around"
          >
            <div class="flex-gt-xs-45">
              <PruefendeChips @content={{pruefende}} @options={{model.examinators}} />
            </div>
            <div class="flex-gt-xs-50">
              <ModulChips @content={{module}} @options={{model.moduls}} />
            </div>
          </div>
          <div class="layout-column flex-100">
            <h3>
              Legende
            </h3>
            <p class="layout-gt-xs-row layout-wrap">
              <div class="flex-gt-xs-20">
                {{paper-icon "text fields"}}
                TEX
              </div>
              <div class="flex-gt-xs-20">
                {{paper-icon "print"}}
                Drucken
              </div>
              <div class="flex-gt-xs-20">
                {{paper-icon "perm media"}}
                Modul
              </div>
              <div class="flex-gt-xs-20">
                {{paper-icon "perm identity"}}
                Prüfende
              </div>
              <div class="flex-gt-xs-20">
                {{paper-icon "today"}}
                Prüfungsdatum
              </div>
              <div class="flex-gt-xs-20">
                {{paper-icon "bubble chart"}}
                Prüfungsart
              </div>
              <div class="flex-gt-xs-20">
                {{paper-icon "book"}}
                Fach
              </div>
            </p>
          </div>
        </div>
      </card.content>
      <card.actions>
        {{#if printing}}
          <PaperProgressLinear />
        {{else}}
          <PaperButton @onClick={{action "printAll"}}>
            ganzen Ordner drucken
          </PaperButton>
          <PaperButton @onClick={{action "printShown"}}>
            Angezeigtes drucken
          </PaperButton>
          <PaperButton @onClick={{action (mut rightSidebar)}}>
            Auswahl anzeigen
          </PaperButton>
        {{/if}}
      </card.actions>
    </PaperCard>
    <PaperCard as |card|>
      <card.actions>
        <PaperDataPaginator @count={{resultsLength}} @limit={{limit}} @limitOptions={{limitOptions}} @page={{page}} @pages={{pages}} @onChangePage={{action (mut page)}} @onChangeLimit={{action (mut limit)}} @onIncrementPage={{action "incrementPage"}} @onDecrementPage={{action "decrementPage"}} @meta={{meta}} />
      </card.actions>
      <card.content>
        <div class="layout-row layout-wrap">
          {{#each results as |report|}}
            <ReportPrintView @printReportComp={{action "printReportCon"}} @report={{report}} @showPruefDialog={{showPruefDialog}} @auswahl={{auswahl}} @reportslist={{reportslist}} @printselection={{printselection}} />
          {{/each}}
        </div>
      </card.content>
    </PaperCard>
  </PaperContent>
</PaperSidenavContainer>
{{#if showPruefDialog}}
  <PrintExaminatorsDialog @closeDialogDrucken={{action "closeDialogDrucken"}} @closeDialogAuswahl={{action "closeDialogAuswahl"}} @reportslist={{reportslist}} @auswahl={{auswahl}} @pruefauswahl={{pruefauswahl}} />
{{/if}}