{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    {{#paper-sidenav-toggle name="left2" as |toggleAction|}}
      {{#paper-button classNames="hide-gt-sm" iconButton=true onClick=(action toggleAction)}}
        {{paper-icon icon="menu"}}
      {{/paper-button}}
    {{/paper-sidenav-toggle}}
    <h2>Moor {{paper-icon "chevron-right"}} {{model.name}}{{paper-icon "chevron-right"}} drucken </h2>
    <span class="flex"></span>
    {{#paper-button iconButton=true}}
      {{paper-icon "more_vert"}}
    {{/paper-button}}
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}
{{#paper-sidenav-container class="inner-sidenav" }}
  {{#paper-sidenav class="md-whiteframe-z2" name="right1" open=rightSidebar position='right' closeOnClick=false lockedOpen=rightSideBarLockedOpen onToggle=(action (mut rightSidebar))}}
    {{#paper-toolbar as |toolbar|}}
      {{#paper-toolbar-tools}}Druckauswahl
        <span class="flex"></span>
        {{#paper-button onClick=(action "printSelection") iconButton=true}}
          {{paper-icon "print" class="md-avatar-icon"}}
        {{/paper-button}}
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}
    {{#paper-content padding=true}}
      {{#paper-list}}
        {{#each printselection as |item|}}
          {{#paper-item}}
            #{{item.report.id}}&nbsp;
            {{#each (take 1 item.report.moduls) as |mod|}}{{mod.abbreviation}}{{/each}}&nbsp; {{item.examinator.surname}}
            <span class="flex"></span>
            {{#paper-button iconButton=true onClick=(action "decreaseTimes" item)}}
              {{paper-icon "remove"}}
            {{/paper-button}}
            {{item.times}}
            {{#paper-button iconButton=true onClick=(action "increaseTimes" item)}}
              {{paper-icon "add"}}
            {{/paper-button}}
          {{/paper-item}}
        {{/each}}
      {{/paper-list}}
    {{/paper-content}}
  {{/paper-sidenav}}
  {{#paper-content class="md-padding" }}
    {{#paper-card as |card|}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}Suchen & Drucken{{/text.headline}}
        {{/title.text}}
      {{/card.title}}
      {{#card.content}}
        <div class="layout-column layout-gt-xs-row layout-wrap" style="justify-content: space-around">
          <div class="layout flex-100">
          <div class="flex-gt-xs-20">
            {{#paper-autocomplete options=model.reports allowClear=true searchText=(readonly IDSearchText) onSearchTextChange=(action (mut IDSearchText)) selected=selectedID searchField="id" labelPath="id" placeholder="ID" loadingMessage="Suche ID" noMatchesMessage="Es gibt keine solche ID"
              onSelectionChange=(action (mut selectedID)) as |report autocomplete|}}
              {{paper-autocomplete-highlight
                label=report.id
            searchText=autocomplete.searchText
            flags="i"}}
            {{/paper-autocomplete}}
          </div>
          <div class="flex-gt-xs-30">
            {{subject-autocomplete
              options=model.subjects
              selected=subject
              }}
          </div>
          <div class="flex-gt-xs-45">
            {{typ-autocomplete
              options=model.typs
              selected=typ
            }}
          </div>
        </div>
          <div class="layout-gt-xs-row layout-wrap flex-100" style="justify-content: space-around">
            <div class="flex-gt-xs-45">
              {{pruefende-chips
              content=pruefende
              options=model.examinators}}
            </div>
            <div class="flex-gt-xs-50">
              {{modul-chips content=module options=model.moduls}}
            </div>

          </div>
          <div class="layout-column flex-100">
          <h3>Legende</h3>
          <p class="layout-gt-xs-row layout-wrap">
            <div class="flex-gt-xs-20">{{paper-icon "text fields"}} TEX</div>
            <div class="flex-gt-xs-20">{{paper-icon "print"}} Drucken</div>
            <div class="flex-gt-xs-20">{{paper-icon "perm media"}} Modul</div>
            <div class="flex-gt-xs-20">{{paper-icon "perm identity"}} Prüfende</div>
            <div class="flex-gt-xs-20">{{paper-icon "today"}} Prüfungsdatum</div>
            <div class="flex-gt-xs-20">{{paper-icon "bubble chart"}} Prüfungsart</div>
            <div class="flex-gt-xs-20">{{paper-icon "book"}} Fach</div>
          </p>
        </div>
        </div>
      {{/card.content}}
      {{#card.actions}}
        {{#paper-button onClick=(action "printAll")}}ganzen Ordner drucken{{/paper-button}}
        {{#paper-button onClick=(action "printShown")}}Angezeigtes drucken{{/paper-button}}
        {{#paper-button onClick=(action (mut rightSidebar))}}Auswahl anzeigen{{/paper-button}}
      {{/card.actions}}
      {{/paper-card}}
      {{#paper-card as |card|}}
    {{#card.actions}}
        {{paper-data-paginator
          count=resultsLength
    limit=limit
    limitOptions=limitOptions
    page=page
    pages=pages
    onChangePage=(action (mut page))
    onChangeLimit=(action (mut limit))
    onIncrementPage=(action 'incrementPage')
    onDecrementPage=(action 'decrementPage')
    meta=meta}}
      {{/card.actions}}
    {{#card.content}}
    <div class="layout-row layout-wrap">
      {{#each results as |report|}}
        {{report-print-view printReportComp=(action "printReportCon") report=report showPruefDialog=showPruefDialog auswahl=auswahl reportslist=reportslist printselection=printselection}}
      {{/each}}
    </div>
    {{/card.content}}
    {{/paper-card}}
  {{/paper-content}}
{{/paper-sidenav-container}}
{{#if showPruefDialog}}{{print-examinators-dialog closeDialogDrucken=(action "closeDialogDrucken") closeDialogAuswahl=(action "closeDialogAuswahl") reportslist=reportslist auswahl=auswahl pruefauswahl=pruefauswahl}}{{/if}}
