{{#paper-sidenav-container class="layout-row layout-xs-column"}}
{{#paper-sidenav
  class="md-whiteframe-z2 site-sidenav flex overflow-x-hidden"
  name="left2"
  open=open
  closeOnClick=true
  onToggle=(action (mut open))
flex-layout="column" flex=true }}
  {{#paper-toolbar tall=true as |toolbar|}}
    {{#paper-toolbar-tools}}<center>
      {{svg-jar "ocean"  height="140px" width="140px"}}<br/>
      FACHSCHAFT MATHPHYS
    </center>{{/paper-toolbar-tools}}
  {{/paper-toolbar}}
  {{#paper-content padding=false}}
    {{#paper-list}}
      {{#menu-item active=(is-active "index" currentRouteName) onClick=(transition-to "index")}}{{paper-icon "dns" class="site-nav-icon"}}Ausleihe{{/menu-item}}
      {{#menu-item onClick=(pipe (action (toggle "menuExpanded" this))(transition-to "moor")) expanded=menuExpanded canExpand=true}}{{paper-icon "language" class="site-nav-icon"}}Ordnerreihen{{/menu-item}}
<div class="submenu">

{{#liquid-if menuExpanded}}
  {{#each model.folderseries as |f|}}
        {{#submenu-item active=(is-active "moor.folderseries" currentRouteName) onClick=(transition-to "moor.folderseries" f)}}{{paper-icon "folder" class="site-nav-icon"}}{{f.name}}{{/submenu-item}}
  {{/each}}
  {{/liquid-if}} </div>

    {{#menu-item active=(is-active "moor.inmail" currentRouteName) onClick=(transition-to "moor.search")}}{{paper-icon "search" class="site-nav-icon"}}Suchen{{/menu-item}}
    {{#menu-item active=(is-active "moor.inmail" currentRouteName) onClick=(transition-to "moor.inmail")}}{{paper-icon "inbox" class="site-nav-icon"}}Mails{{/menu-item}}
    {{#menu-item active=(is-active "moor.report" currentRouteName) onClick=(transition-to "moor.report")}}{{paper-icon "view carousel" class="site-nav-icon"}}neuer Bericht{{/menu-item}}

      {{#menu-item active=(is-active "moor.management" currentRouteName) onClick=(transition-to "moor.management")}}{{paper-icon "settings" class="site-nav-icon"}}Allgemein{{/menu-item}}
      {{#menu-item active=(is-active "moor.management.examinators" currentRouteName) onClick=(transition-to "moor.management.examinators")}}{{paper-icon "perm identity" class="site-nav-icon"}}Prüfende{{/menu-item}}
      {{#menu-item active=(is-active "moor.management.students" currentRouteName) onClick=(transition-to "moor.management.students")}}{{paper-icon "face" class="site-nav-icon"}}Studierende{{/menu-item}}


    {{/paper-list}}
  {{/paper-content}}
{{/paper-sidenav}}

  {{#paper-content flex-layout="column" class="flex row layout-column overflow-x-hidden"}}
    {{outlet}}
    {{/paper-content}}

 {{/paper-sidenav-container}}
