{{#paper-sidenav-container  class="layout-row layout-xs-column"}}
{{#paper-sidenav
  class="md-whiteframe-z2 site-sidenav flex"
  name="left2"
  open=open
  closeOnClick=true
  onToggle=(action (mut open))
flex-layout="column" flex=true }}
  {{#paper-toolbar tall=true as |toolbar|}}
    {{#paper-toolbar-tools}}<center>
      {{svg-jar "ocean"  height="140px" width="140px"}}<br/>
      FACHSCHAFT MATHPHYS
    </center>{{/paper-toolbar-tools}}
  {{/paper-toolbar}}
  {{#paper-content padding=true}}
    {{#paper-list}}
      {{#menu-item active=(is-active "index" currentRouteName) onClick=(transition-to "index")}}{{svg-jar "ocean" class="site-nav-icon" height="24px" width="24px"}}Ozean{{/menu-item}}
      {{#menu-item onClick=(pipe (action "toggleExpandedItem" "expandedMenu")(transition-to "moor")) expanded=menuExpanded canExpand=true}}{{paper-icon "language" class="site-nav-icon"}}Moor{{/menu-item}}
<div class="submenu">
    {{#liquid-if menuExpanded}}
    {{#submenu-item active=(is-active "moor.inmail" currentRouteName) onClick=(transition-to "moor.inmail")}}{{paper-icon "inbox" class="site-nav-icon"}}Mails{{/submenu-item}}
    {{#submenu-item active=(is-active "moor.report" currentRouteName) onClick=(transition-to "moor.report")}}{{paper-icon "view carousel" class="site-nav-icon"}}Prüfungsbericht erstellen{{/submenu-item}}
    {{#each model.folderseries as |f|}}
          {{#submenu-item active=(is-active "moor.folderseries" currentRouteName) onClick=(transition-to "moor.folderseries" f)}}{{paper-icon "folder" class="site-nav-icon"}}{{f.name}}{{/submenu-item}}
    {{/each}}
      {{#submenu-item active=(is-active "moor.management" currentRouteName) onClick=(transition-to "moor.management")}}{{paper-icon "settings" class="site-nav-icon"}}Allgemein{{/submenu-item}}
      {{#submenu-item active=(is-active "moor.management.examinators" currentRouteName) onClick=(transition-to "moor.management.examinators")}}{{paper-icon "perm identity" class="site-nav-icon"}}Prüfende{{/submenu-item}}

      {{/liquid-if}} </div>
    {{/paper-list}}
  {{/paper-content}}
{{/paper-sidenav}}

  {{#paper-content flex-layout="column" class="flex row layout-column"}}
    {{outlet}}
    {{/paper-content}}

 {{/paper-sidenav-container}}
