<PaperToolbar>
  <PaperToolbarTools>
    <PaperSidenavToggle @name="left2" as |toggleAction|>
      <PaperButton @classNames="hide-gt-sm" @iconButton={{true}} @onClick={{action toggleAction}}>
        <PaperIcon @icon="menu" />
      </PaperButton>
    </PaperSidenavToggle>
    <h2>
      Fehler!
    </h2>
    <span class="flex"></span>
    <PaperButton @iconButton={{true}}>
      {{paper-icon "more_vert"}}
    </PaperButton>
  </PaperToolbarTools>
</PaperToolbar>
<PaperContent>
  <center>
    {{paper-icon "error" size=512}}
  </center>
  <center>
    <h2>
      Ein Fehler ist aufgetreten...
    </h2>
  </center>
</PaperContent>