{{#if showDialog closeDialog=(action "closeDialog") action="closeDialog"}}
{{folder-create-dialog folder=newfolder closeDialog=(action "closeDialog") title="Ordner eintragen"}}
{{/if}}
{{#paper-toolbar}}
   {{#paper-toolbar-tools}}
    {{#paper-sidenav-toggle name="left2" as |toggleAction|}}
            {{#paper-button classNames="hide-gt-sm" iconButton=true onClick=(action toggleAction)}}
      {{paper-icon icon="menu"}}
      {{/paper-button}}
    {{/paper-sidenav-toggle}}
     <h2>Moor <span class="hide-sm"></span></h2>
     <span class="flex"></span>
     {{#paper-button iconButton=true onClick=(action "addFolder")}}
       {{paper-icon "create new folder"}}
     {{/paper-button}}
     {{#paper-button iconButton=true}}
       {{paper-icon "more_vert"}}
     {{/paper-button}}
   {{/paper-toolbar-tools}}
 {{/paper-toolbar}}
{{#paper-content class="md-padding"}}
      {{#paper-list}}
      {{#each model as |folder|}}
          {{#paper-item class="md-2-line"}}
            {{paper-icon "folder" class="md-avatar"}}
            <div class="md-list-item-text">
              <h3>{{folder.name}}</h3>
              <p>{{if folder.obligationToReport "pfandpflichtig" " "}}</p>
            </div>
          {{/paper-item}}
        {{/each}}
      {{/paper-list}}
{{outlet}}
{{/paper-content}}
