{{#paper-toolbar}}
   {{#paper-toolbar-tools}}
    {{#paper-sidenav-toggle name="left2" as |toggleAction|}}
            {{#paper-button classNames="hide-gt-sm" iconButton=true onClick=(action toggleAction)}}
      {{paper-icon icon="menu"}}
      {{/paper-button}}
    {{/paper-sidenav-toggle}}
     <h2>zuletzt zurückgegebene Ordner</h2>
     <span class="flex"></span>
     {{#paper-button iconButton=true}}
       {{paper-icon "more_vert"}}
     {{/paper-button}}
   {{/paper-toolbar-tools}}
 {{/paper-toolbar}}
{{#paper-content class="md-padding"}}
{{!Table in Card}}
{{#paper-card as |card|}}
	{{#card.content }}
  {{#paper-data-table   sortProp="folder" sortDir="desc" selectable=true as |table|}}
  {{#table.head as |head|}}
    {{#head.column checkbox=true}}
      {{#paper-checkbox disabled=true onChange=null}}{{/paper-checkbox}}
    {{/head.column}}
    {{#head.column sortProp="folder.name"}}Ordner{{/head.column}}
    {{#head.column sortProp="student.name" }}Studierendes{{/head.column}}
    {{#head.column sortProp="createdAt" }}ausgeliehen{{/head.column}}
    {{#head.column}}Optionen{{/head.column}}
  {{/table.head}}
  {{#table.body as |body|}}
    {{#each (sort-by table.sortDesc model) as |m|}}
      {{#body.row edit=true as |row|}}
        {{#row.cell checkbox=true}}
          {{#paper-checkbox
            value=m.checked
            onChange=(action (mut m.checked))}}
          {{/paper-checkbox}}
        {{/row.cell}}
        {{#row.cell}}{{m.folder.name}}{{/row.cell}}
        {{#row.cell}}
          {{m.student.name}}
        {{/row.cell}}
        {{#row.cell}}{{moment-from-now m.createdAt interval=1000}}{{/row.cell}}
        {{#row.cell edit=true as |cell|}}
          {{#paper-button raised=true primary=true onClick=(action "undoReturn" m)}}Rückgängig machen{{/paper-button}}
        {{/row.cell}}
      {{/body.row}}
    {{/each}}
  {{/table.body}}
  {{/paper-data-table}}
  {{/card.content}}
{{/paper-card}}
{{outlet}}
{{/paper-content}}
