<PaperDialog @class="flex-77" @onClose={{action "exitDialog" 0}} @origin={{dialogOrigin}} @clickOutsideToClose={{true}}>
  <PaperToolbar>
    <PaperToolbarTools>
      <h2>{{title}}</h2>
      <span class="flex"></span>
      <PaperButton @iconButton={{true}} @onClick={{action "exitDialog" 0}}><PaperIcon @icon="close" /></PaperButton>
    </PaperToolbarTools>
  </PaperToolbar>
  <PaperForm @onSubmit={{action "exitDialog" 1}} as |form|>
  <PaperDialogContent>
  <div class="flex layout-column">
    <p> Sie sind im Begriff einen Prüfungsbericht aus der Datenbank der Fachschaft unwiderbringlich zu entfernen.</p>
    <br/>
    <p> Sind Sie sich sicher, dass Sie den folgenden Prüfungsbericht löschen wollen:
</p><br/>
  <div class="layout-gt-xs-row layout-wrap" style="justify-content: space-around">
      <div class="flex-gt-xs-50">
    <PaperDataTable @selectable={{false}} as |table|>
      <table.body as |body|>
      <body.row @edit={{false}} as |row|>
          <row.cell>Prüfungstyp:</row.cell>
            <row.cell>{{report.typ.name}}</row.cell>
            </body.row>
            <body.row @edit={{false}} as |row|>
            <row.cell>Studienfach:</row.cell>
            <row.cell>{{report.subject.name}}</row.cell>
            </body.row>
            <body.row @edit={{false}} as |row|>
            <row.cell>Prüfungsdatum:</row.cell>
            <row.cell>{{moment-format report.examinationAt "MM.YYYY"}}</row.cell>
            </body.row>
            <body.row @edit={{false}} as |row|>
            <row.cell>Prüfende:</row.cell>
            <row.cell>
              {{#each report.examinators as |exm index|}}
                {{if index ", "}}{{exm.surname}}
              {{/each}}
            </row.cell>
            </body.row>
      </table.body>
    </PaperDataTable>
  </div>
    <div class="flex-gt-xs-50">
      <img src={{report.picture}} style="width:100%;" alt="Bild konnte nicht geladen werden." title="Vorschau"/>
    </div>
    </div>
  </div>
  </PaperDialogContent>
  <PaperDialogActions @class="layout-row">
    <span class="layout-gt-xs-row layout-wrap" style="justify-content: space-around">
    <PaperButton @onClick={{action "exitDialog" 0}}>Abbrechen</PaperButton>
    <PaperButton @warn={{true}} @onClick={{action "exitDialog" 1}}>Löschen</PaperButton>
    </span>
  </PaperDialogActions>
  </PaperForm>
</PaperDialog>
{{yield}}
