{{#paper-dialog class="flex-77" onClose=(action "exitDialog" "cancel") origin=dialogOrigin clickOutsideToClose=true}}
  {{#paper-toolbar}}
    {{#paper-toolbar-tools}}
      <h2>{{elemente}} löschen?</h2>
      <span class="flex"></span>
      {{#paper-button iconButton=true onClick=(action "exitDialog" "cancel")}}{{paper-icon icon="close"}}{{/paper-button}}
    {{/paper-toolbar-tools}}
  {{/paper-toolbar}}

  {{#paper-dialog-content}}
    <div class="flex layout-column">
      <p class="md-warn md-button">ACHTUNG !</p>
      <p> Aufgrund von Verweisen müssten beim Löschen {{dieseselements}} folgende Änderungen an den Prüfungsberichten vorgenommen werden: </p>        <br>
        {{#paper-data-table sortProp="examinationAt" sortDir="desc" selectable=true as |table|}}
          {{#table.head as |head|}}
            {{#head.column}}Prüfungsart{{/head.column}}
            {{#head.column}}Fach{{/head.column}}
            {{#head.column}}Datum{{/head.column}}
            {{#head.column}}Prüfende{{/head.column}}
            {{#head.column}}Änderung{{/head.column}}
          {{/table.head}}
          {{#table.body as |body|}}
            {{#each (sort-by table.sortDesc objekt.reports) as |report|}}
              {{#body.row edit=true as |row|}}
                {{#row.cell}}{{report.typ.name}}{{/row.cell}}
                {{#row.cell}}{{report.subject.name}}{{/row.cell}}
                {{#row.cell}}{{moment-format report.examinationAt "MM.YYYY"}}{{/row.cell}}
                {{#row.cell}}
                  {{#each report.examinators as |exm index|}}
                    {{if index ", "}}{{exm.surname}}
                  {{/each}}
                {{/row.cell}}
                {{#row.cell}}
                  {{#if (compute (action "multiple") report)}}{{elemente}} aus Liste entfernen{{/if}}
                  {{#unless (compute (action "multiple") report)}}Bericht löschen{{/unless}}
                {{/row.cell}}

              {{/body.row}}
            {{/each}}
          {{/table.body}}
        {{/paper-data-table}}
    </div>
  {{/paper-dialog-content}}
  {{#paper-dialog-actions class="layout-row"}}
    <span class="flex"></span>
    {{#paper-button onClick=(action "exitDialog" "ok")}}OK{{/paper-button}}
    {{#paper-button onClick=(action "exitDialog" "cancel")}}Abbrechen{{/paper-button}}
  {{/paper-dialog-actions}}
{{/paper-dialog}}
{{yield}}
