<PaperDialog @class="flex-77" @onClose={{action "exitDialog" "cancel"}} @origin={{dialogOrigin}} @clickOutsideToClose={{true}}>
  <PaperToolbar>
    <PaperToolbarTools>
      <h2>{{title}}</h2>
      <span class="flex"></span>
      <PaperButton @iconButton={{true}} @onClick={{action "exitDialog" "cancel"}}><PaperIcon @icon="close" /></PaperButton>
    </PaperToolbarTools>
  </PaperToolbar>
  <PaperForm @onSubmit={{action "exitDialog" "ok"}} as |form|>
  <PaperDialogContent>
  <div class="layout-gt-xs-row layout-wrap" style="justify-content: space-around">
    <div class="flex-gt-xs-45">
      <SubjectAutocomplete @selected={{report.subject}} @options={{model.subjects}} />
    </div>
    <div class="flex-gt-xs-50">
      <TypAutocomplete @selected={{report.typ}} @options={{model.typs}} />
    </div>
  </div>
  <div class="layout-gt-xs-row layout-wrap" style="justify-content: space-around">
    <div class="flex-gt-xs-45">
      {{! Prüfende }}
      <PruefendeChips @options={{model.examinators}} @content={{report.examinators}} />
    </div>
    <div class="flex-gt-xs-50">
      {{!Module}}
      <ModulChips @options={{model.moduls}} @content={{report.moduls}} />
    </div>
  </div>
  <div class="layout-gt-xs-row layout-wrap" style="justify-content: space-around">
    <div class="flex-gt-xs-45">
      {{!Folderseries}}
      <FolderseriesChips @options={{model.folderseries}} @content={{report.folderseries}} />
    </div>
    <div class="flex-gt-xs-50">
      <PaperPikaday @label="Prüfungsdatum" @required={{true}} @value={{readonly (moment-format report.examinationAt "MM.YYYY")}} @onSelection={{action (mut report.examinationAt)}} @onChange={{action (mut someThing)}} />
    </div>
  </div>
  </PaperDialogContent>
  <PaperDialogActions @class="layout-row">
    <span class="layout-gt-xs-row layout-wrap" style="justify-content: space-around">
    <FilePicker @preview={{false}} @readAs="readAsBinaryString" @accept=".tex" @fileLoaded="fileLoadedTex">
      <PaperButton>
        {{paper-icon "text fields"}} {{filetexName}}
      </PaperButton>
    </FilePicker>
    <FilePicker @preview={{false}} @readAs="readAsDataURL" @accept=".pdf" @fileLoaded="fileLoaded">
      <PaperButton>
        {{paper-icon "picture as pdf"}}{{fileName}}
      </PaperButton>
    </FilePicker>
    <PaperButton @onClick={{action "exitDialog" "cancel"}}>Abbrechen</PaperButton>
    <PaperButton @onClick={{action "exitDialog" "ok"}}>Speichern</PaperButton>
    </span>
  </PaperDialogActions>
  </PaperForm>
</PaperDialog>
{{yield}}
