<PaperDialog @class="flex-77" @onClose={{action closeDialog "cancel"}} @origin={{dialogOrigin}} @clickOutsideToClose={{true}}>
  <PaperToolbar>
    <PaperToolbarTools>
      <h2>{{title}}</h2>
      <span class="flex"></span>
      <PaperButton @iconButton={{true}} @onClick={{action closeDialog "cancel"}}><PaperIcon @icon="close" /></PaperButton>
    </PaperToolbarTools>
  </PaperToolbar>
  <PaperForm @onSubmit={{action closeDialog "ok"}} as |form|>
  <PaperDialogContent>
      <div class="flex layout-column">
    <form.input @flex={{30}} @label="Vorname" @value={{examinator.givenname}} @required={{true}} @onChange={{action (mut examinator.givenname)}} />
    <form.input @flex={{30}} @label="Nachname" @value={{examinator.surname}} @required={{true}} @onChange={{action (mut examinator.surname)}} />
    <form.input @flex={{30}} @label="Titel" @value={{examinator.title}} @onChange={{action (mut examinator.title)}} />
    </div>
  </PaperDialogContent>
  <PaperDialogActions @class="layout-row">
    <span class="flex"></span>
    <PaperButton @onClick={{action closeDialog "cancel"}}>Abbrechen</PaperButton>
    <PaperButton @onClick={{action closeDialog "ok" folder}} @disabled={{form.isInvalid}}> OK</PaperButton>
  </PaperDialogActions>
  </PaperForm>
</PaperDialog>
{{yield}}
