{{#paper-dialog class="flex-77" onClose=(action closeDialog "cancel") origin=dialogOrigin clickOutsideToClose=true}}
  {{#paper-toolbar}}
    {{#paper-toolbar-tools}}
      <h2>{{title}}</h2>
      <span class="flex"></span>
      {{#paper-button iconButton=true onClick=(action closeDialog "cancel")}}{{paper-icon icon="close"}}{{/paper-button}}
    {{/paper-toolbar-tools}}
  {{/paper-toolbar}}
  {{#paper-form onSubmit=(action closeDialog "ok") as |form|}}
    {{#paper-dialog-content}}
      <div class="flex layout-column">
        {{form.input flex=30 label="Name" value=folderseries.name required=true onChange=(action (mut folderseries.name))}} {{form.input flex=30 label="Inhalt" value=folderseries.description required=true onChange=(action (mut folderseries.description))}}
        {{#paper-switch value=folderseries.obligationtoreport onChange=(action (mut folderseries.obligationtoreport))}}
          Pfandpflichtig
        {{/paper-switch}}
      </div>
    {{/paper-dialog-content}}
    {{#paper-dialog-actions class="layout-row" }}
      <span class="flex"></span>
      {{#paper-button onClick=(action closeDialog "cancel")}}Abbrechen{{/paper-button}}
      {{#paper-button onClick=(action closeDialog "ok" folder) disabled=form.isInvalid}} OK{{/paper-button }}
    {{/paper-dialog-actions}}
  {{/paper-form}}
{{/paper-dialog}}
{{yield}}
