<PaperCard as |card|>
  <card.header as |header|>
    <header.text as |text|>
      <text.title>{{model.subject}}</text.title>
      <text.subhead>{{model.fromname}}</text.subhead>
      <text.subhead>{{model.fromaddress}}</text.subhead>
    </header.text>
    <PaperButton @onClick={{action reply}} @warn={{model.emails.length}}>
      {{#if model.emails}}Erneut {{/if}}Antworten</PaperButton>
  </card.header>
  <card.content>
    <div class="md-padding">
      {{simple-format (readonly model.body)}}
    </div>
    {{#if model.attachments}}
      <PaperDivider />
      <PaperSubheader>Anhänge</PaperSubheader>
      <PaperTabs @borderBottom={{true}} @selected={{selectedAttachment}} @onChange={{action "setSelected"}} as |tabs|>
        {{#each attachments as |attachment|}}
          <tabs.tab as |tab|>
            {{attachment.name}}
          </tabs.tab>
        {{/each}}
      </PaperTabs>
    {{/if}}
    {{#liquid-bind (hash attachment=(object-at selectedAttachment attachments)) class="md-padding" as |current|}}
      {{#if (eq current.attachment.contentType "application/pdf")}}
        <div class="pdf-container">
          <PdfJs @pdf={{current.attachment.pdf}} />
        </div>

        <PaperButton @onClick={{action setPdfFile current.attachment}}> ALS PDF verwenden</PaperButton>
      {{else}}
        {{#if (eq current.attachment.contentType "text/plain")}} {{simple-format  current.attachment.attachment}}
        <PaperButton @onClick={{action setTexFile current.attachment}}> ALS Tex verwenden</PaperButton>
        {{else}}
        {{#if selectedAttachment}}
        <img alt="Bild" src={{concat "data:" current.attachment.contentType ";base64," current.attachment.attachment}} />
        <PaperButton @href={{concat "data:" current.attachment.contentType ";base64," current.attachment.attachment}}>{{paper-icon "file download"}} Download</PaperButton>
        {{else}}
        Bitte Datei wählen!
        {{/if}}
      {{/if}}
      {{/if}}
    {{/liquid-bind}}
  </card.content>
</PaperCard>
{{yield}}
