{{#paper-card as |card|}}
  {{#card.header as |header|}}
    {{#header.avatar}}
      {{gravatar-image class="md-avatar" email=model.fromaddress}}
    {{/header.avatar}}
    {{#header.text as |text|}}
      {{#text.title}}{{model.fromname}}{{/text.title}}
      {{#text.subhead}}{{model.fromaddress}}{{/text.subhead}}
    {{/header.text}}
  {{/card.header}}
  {{#card.content}}
    {{#paper-subheader}}{{model.subject}}{{/paper-subheader}}
    <div class="md-padding">
      {{simple-format (readonly model.body)}}
    </div>
    {{#if model.attachments}}
      {{paper-divider}}
      {{#paper-subheader}}Anhänge{{/paper-subheader}}
      {{#paper-tabs borderBottom=true  selected=selectedAttachment onChange=(action "setSelected") as |tabs|}}
        {{#each attachments as |attachment|}}
          {{#tabs.tab as |tab|}}
            {{attachment.name}}
          {{/tabs.tab}}
        {{/each}}
      {{/paper-tabs}}
    {{/if}}
    {{#liquid-bind (hash attachment=(object-at selectedAttachment attachments)) class="md-padding" as |current|}}
      {{#if (eq current.attachment.contentType "application/pdf")}}
        <div class="pdf-container">
          {{pdf-document  src=current.attachment.pdf}}
        </div>
        {{#paper-button onClick=(action setPdfFile current.attachment)}} ALS PDF verwenden{{/paper-button}}
      {{else}}
        {{simple-format  current.attachment.attachment}}
        {{#paper-button onClick=(action setTexFile current.attachment)}} ALS Tex verwenden{{/paper-button}}
      {{/if}}
    {{/liquid-bind}}
  {{/card.content}}
{{/paper-card}}
{{yield}}
