<div class="space-around">
		<div class="md-table-label">Ergebnisse:&nbsp;{{resultsLength}}</div>
</div>
<div class="page-select" style="margin: 30px;">
	<div class="md-table-label">Seite:&nbsp;</div>
	<PaperTableSelected @class="no-min-wdith" @options={{readonly pagesA}} @selected={{page}} @onChange={{action (mut page)}} as |pageNumber|>
		{{pageNumber}}
	</PaperTableSelected>
</div>
<div class="limit-select" style="margin: 0px;">
	<div class="md-table-label">{{plural}} pro Seite:&nbsp;</div>
	<PaperTableSelected @class="no-min-wdith" @options={{limitOptions}} @selected={{limit}} @onChange={{pipe (action (mut limit)) (action "resetPage")}} as |limit|>
		{{limit}}
	</PaperTableSelected>
</div>
<div class="buttons">
	{{#if total}}<div class="label">{{startOffset}} - {{endOffset}} of {{total}}</div>{{/if}}
	<PaperButton @iconButton={{true}} @onClick={{action "decrease"}}>
		{{paper-icon "navigate before"}}
	</PaperButton>
	<PaperButton @iconButton={{true}} @onClick={{action "increase"}}>
		{{paper-icon "navigate next"}}
	</PaperButton>
</div>
