<div class="space-around">
		<div class="md-table-label">Ergebnisse:&nbsp;{{count}}</div>
</div>
{{#if onChangePage}}
<div class="page-select" style="margin: 30px;">
	<div class="md-table-label">Seite:&nbsp;</div>
	{{#paper-table-selected class="no-min-wdith" options=(readonly pages) selected=page onChange=onChangePage as |pageNumber|}}
		{{pageNumber}}
	{{/paper-table-selected}}
</div>
{{/if}}
<div class="limit-select" style="margin: 0px;">
	<div class="md-table-label">Berichte pro Seite:&nbsp;</div>
	{{#paper-table-selected class="no-min-wdith" options=limitOptions selected=limit onChange=onChangeLimit as |limit|}}
		{{limit}}
	{{/paper-table-selected}}
</div>
<div class="buttons">
	{{#if total}}<div class="label">{{startOffset}} - {{endOffset}} of {{total}}</div>{{/if}}
	{{#paper-button iconButton=true onClick=onDecrementPage}}
		{{paper-icon "navigate before"}}
	{{/paper-button}}
	{{#paper-button iconButton=true onClick=onIncrementPage}}
		{{paper-icon "navigate next"}}
	{{/paper-button}}
</div>
