<PaperDialog @class="flex-77" @onClose={{action "exitDialog" "cancel"}} @origin={{dialogOrigin}} @clickOutsideToClose={{true}}>
  <PaperToolbar>
    <PaperToolbarTools>
      <h2>Pfand bezahlen</h2>
      <span class="flex"></span>
      <PaperButton @iconButton={{true}} @onClick={{action "exitDialog" "cancel"}}><PaperIcon @icon="close" /></PaperButton>
    </PaperToolbarTools>
  </PaperToolbar>

  <PaperDialogContent>
    <div class="flex layout-column">
      <p> Für diese Aufgabe brauchst du 1 Person mit Tresorzugriff im Raum.</p>
      <ul>
        <li> Informiere das Studierende über das Verfahren. </li>
        <li> Nimm 20€ vom Studierenden entgegen.</li>
        <li> Pack die 20€ in den Tresor und vermerk das im Kassenbuch.</li>
        <li> Stelle dem Studierenden eine Quittung aus. Diese findest du im Prüfungsberichte-Ordner links neben dem Tresor. </li>
      </ul>
    </div>
  </PaperDialogContent>
  <PaperDialogActions @class="layout-row">
    <span class="flex"></span>
    <PaperButton @tabindex={{2}} @onClick={{action "exitDialog" "cancel"}}>Abbrechen</PaperButton>
    <PaperButton @tabindex={{1}} @onClick={{action "exitDialog" "ok" student}}>Bezahlt</PaperButton>
  </PaperDialogActions>
</PaperDialog>
{{yield}}
