<PaperDialog @onClose={{action "exitDialog" 0}} @origin={{dialogOrigin}} @clickOutsideToClose={{true}}>
  <PaperToolbar>
    <PaperToolbarTools>
      <h2>Prüfende und Ordnerreihen auswählen</h2>
      <span class="flex"></span>
      <PaperButton @iconButton={{true}} @onClick={{action "exitDialog" 0}}><PaperIcon @icon="close" /></PaperButton>
    </PaperToolbarTools>
  </PaperToolbar>
  <PaperDialogContent @class="flex-66">
    <div class='layout-row'>
      <div align="center"class='flex-gt-xs-50'>
<h3>Prüfende</h3>
        <PaperList>
          {{#each report.examinators as |exm|}}
            <PaperItem>
              <PaperCheckbox @value={{exm.selected}} @onChange={{action (mut exm.selected)}}>
              </PaperCheckbox>
              <b>{{exm.surname}}</b>&nbsp; <em>{{exm.givenname}}</em>
            </PaperItem>
          {{/each}}
        </PaperList>
      </div>
      <div align="center" style="padding-left: 20px;border-left-style: solid;" class='flex-gt-xs-50'>
        <PaperList>
        <h3>Ordnerreihen</h3>
          {{#each report.folderseries as |fs|}}
            <PaperItem>
              <PaperCheckbox @value={{fs.selected}} @onChange={{action (mut fs.selected)}}>
              </PaperCheckbox>
              <b>{{fs.name}}</b>
            </PaperItem>
          {{/each}}
        </PaperList>

      </div>
    </div>
  </PaperDialogContent>
  <PaperDialogActions @class="layout-row">
    <span class="flex"></span>
    <PaperButton @onClick={{action "exitDialog" 0}}>Abbrechen</PaperButton>
    <PaperButton @onClick={{action "exitDialog" 1}}>Drucken</PaperButton>
  </PaperDialogActions>
</PaperDialog>
{{yield}}
