<PaperDialog @class="flex-77" @onClose={{action "exitDialog" "cancel"}} @origin={{dialogOrigin}} @clickOutsideToClose={{true}}>
  <PaperToolbar>
    <PaperToolbarTools>
      <h2>Prüfende auswählen</h2>
      <span class="flex"></span>
      <PaperButton @iconButton={{true}} @onClick={{action "exitDialog" "cancel"}}><PaperIcon @icon="close" /></PaperButton>
    </PaperToolbarTools>
  </PaperToolbar>

  <PaperDialogContent @class="flex-66">
    <PaperList>
      {{#each reportslist as |report|}}
        <PaperSubheader>
          {{report.subject.name}}-{{report.typ.name}}:
          {{#each report.moduls as |modul|}}
            {{modul.abbreviation}}{{if (has-next modul useDeepEqual report.moduls) ", "}}
          {{/each}}
          </PaperSubheader>
            {{#each report.examinators as |exm|}}
              <PaperItem>
                <PaperCheckbox @value={{contains pruefauswahl report exm}} @onChange={{action "toggleSelect" report exm}}>
                </PaperCheckbox>
                <b>{{exm.surname}}</b>&nbsp; <em>{{exm.givenname}}</em>
              </PaperItem>
            {{/each}}
      {{/each}}
    </PaperList>
  </PaperDialogContent>
  <PaperDialogActions @class="layout-row">
    <span class="flex"></span>
    <PaperButton @onClick={{action "exitDialog" "cancel"}}>Abbrechen</PaperButton>
    <PaperButton @onClick={{action "exitDialog" "ok"}}>{{if auswahl "Auswählen" "Drucken"}}</PaperButton>
  </PaperDialogActions>
</PaperDialog>
{{yield}}
