<div class="flex-xs-100 flex-gt-xs-33 flex-gt-l-25 flex-noshrink">
  <PaperCard as |card|>
    <card.actions>
      &emsp;#{{report.id}}<span class="flex"></span>
      <PaperButton @iconButton={{true}} @onClick={{pipe (action "saveChanges") (toggle "editable" this)}}>
        {{#if editable}}{{paper-icon "save"}}{{else}}{{paper-icon "mode edit"}}{{/if}}
      </PaperButton>
    </card.actions>
    <card.media @size="sm" @src={{report.picture}} @alt="erste PDF-Seite des Berichts" @title="PDF-Seite" />
    <card.content>
    <div class="layout-gt-xs-row layout-wrap" style="justify-content: space-around">
      <div class="flex-gt-xs-40">
        <SubjectAutocomplete @selected={{report.subject}} @options={{model.subjects}} @disabled={{not editable}} />
      </div>
      <div class="flex-gt-xs-45">
        <TypAutocomplete @selected={{report.typ}} @options={{model.typs}} @disabled={{not editable}} />
      </div>
    </div>
    <div class="layout-gt-xs-row layout-wrap" style="margin-top:20px; justify-content: space-around">
      <div class="flex-gt-xs-40">
        {{! Prüfende }}
        <PruefendeChips @options={{model.examinators}} @content={{report.examinators}} @disabled={{not editable}} />
      </div>
      <div class="flex-gt-xs-45">
        {{!Module}}
        <ModulChips @options={{model.moduls}} @content={{report.moduls}} @disabled={{not editable}} />
      </div>
    </div>
    <div class="layout-gt-xs-row layout-wrap" style="margin-top:20px; justify-content: space-around">
      <div class="flex-gt-xs-40">
        {{!Folderseries}}
        <FolderseriesChips @options={{model.folderseries}} @content={{report.folderseries}} @disabled={{not editable}} />
      </div>
      <div class="flex-gt-xs-45">
        <PaperPikaday @label="Prüfungsdatum" @value={{readonly (moment-format report.examinationAt "MM.YYYY")}} @onSelection={{action (mut report.examinationAt)}} @onChange={{action (mut report.examinationAt)}} @disabled={{not editable}} />
      </div>
    </div>
    </card.content>
    <card.actions>
    {{#if editable}}
      <FileUpload @preview={{false}} @readAs="readAsBinaryString" @accept=".tex" @onfileadd="fileLoadedTex">
        <PaperButton>
          {{paper-icon "text fields"}} {{filetexName}}
        </PaperButton>
      </FileUpload>
      <span class="flex-25"/>
      <FileUpload @preview={{false}} @readAs="readAsDataURL" @accept=".pdf" @fileLoaded="onfileadd">
        <PaperButton>
          {{paper-icon "picture as pdf"}}{{fileName}}
        </PaperButton>
      </FileUpload>
    {{else}}
      {{#if report.texAvailable}}
        <EmailShare @subject="Prüfungsbericht-TeX-Datei" @url={{report.id}} @body="Hallo roots, ich würde gerne hiermit die TeX-Datei für die folgende Prüfungsbericht-ID beantragen:">
          <PaperButton @iconButton={{true}}>{{paper-icon "text fields"}}</PaperButton>
        </EmailShare>
      {{/if}}
      {{/if}}
    </card.actions>
  </PaperCard>
</div>
