<div class="flex-xs-100 flex-gt-xs-33 flex-gt-l-25 flex-noshrink">
  <PaperCard as |card|>
    <card.actions>
      &emsp;#{{report.id}}<span class="flex"></span>
      <PaperButton @iconButton={{true}} @onClick={{action "toggleSelection" report}}>
        {{#if selected}}{{paper-icon "remove"}}{{else}}{{paper-icon "add"}}{{/if}}
      </PaperButton>
    </card.actions>
    <card.media @size="sm" @src={{report.picture}} @alt="erste PDF-Seite des Berichts" @title="PDF-Seite" />
    <card.content>
      <PaperList>
        {{#each report.moduls as |modul|}}
          <PaperItem @class="md-2-line">
            {{paper-icon "perm media" class="md-avatar-icon"}}
            <div class="md-list-item-text">
              <h3>{{modul.name}}</h3>
            </div>
          </PaperItem>
        {{/each}}
        <PaperDivider />
        {{#each report.examinators as |exm|}}
          <PaperItem @class="md-2-line">
            {{paper-icon "perm identity" class="md-avatar-icon"}}
            <div class="md-list-item-text">
              <h3>{{exm.surname}} <em>{{exm.givenname}}</em></h3>
            </div>
          </PaperItem>
        {{/each}}
        <PaperDivider />
        <PaperItem @class="md-2-line">
          {{paper-icon "today" class="md-avatar-icon"}}
          <div class="md-list-item-text">
            <h3>{{moment-format report.examinationAt "MM.YYYY" }}</h3>
          </div>
        </PaperItem>
        <PaperDivider />
        <PaperItem @class="md-2-line">
          {{paper-icon "bubble chart" class="md-avatar-icon"}}
          <div class="md-list-item-text flex">
            <h3 class="layout-wrap"><span class="flex">{{report.typ.name}}</span></h3>
          </div>
        </PaperItem>
        <PaperDivider />
        <PaperItem @class="md-2-line">
          {{paper-icon "book" class="md-avatar-icon"}}
          <div class="md-list-item-text flex">
            <h3 class="layout-wrap"><span class="flex">{{report.subject.name}}</span></h3>
          </div>
        </PaperItem>
      </PaperList>
    </card.content>
    <card.actions>
      {{#if report.texAvailable}}
        <EmailShare @subject="Pr端fungsbericht-TeX-Datei" @url={{report.id}} @body="Hallo roots, ich w端rde gerne hiermit die TeX-Datei f端r die folgende Pr端fungsbericht-ID beantragen:">
          <PaperButton @iconButton={{true}}>{{paper-icon "text fields"}}</PaperButton>
        </EmailShare>
      {{/if}}
      <PaperButton @iconButton={{true}} @onClick={{action "printReport"}}>{{paper-icon "print"}}</PaperButton>
    </card.actions>
  </PaperCard>
</div>
