<PaperToolbar>
  <PaperToolbarTools>
    <PaperSidenavToggle @name="left2" as |toggleAction|>
      <PaperButton @classNames="hide-gt-sm" @iconButton={{true}} @onClick={{action toggleAction}}>
        <PaperIcon @icon="menu" />
      </PaperButton>
    </PaperSidenavToggle>
    <h2>Moor {{paper-icon "chevron-right"}} Verwaltung {{paper-icon "chevron-right"}} Studierende <span class="hide-sm"></span></h2>
    <span class="flex"></span>
    <PaperButton @iconButton={{true}} @onClick={{action "addStudent"}}>
      {{paper-icon "person add"}}
    </PaperButton>
    <PaperButton @iconButton={{true}}>
      {{paper-icon "more_vert"}}
    </PaperButton>
  </PaperToolbarTools>
</PaperToolbar>
<PaperContent @class="md-padding">
  <PaperCard as |card|>
    <card.title as |title|>
      <title.text as |text|>
        <text.headline>
          {{paper-icon "search"}} Auswahl
        </text.headline>
      </title.text>
    </card.title>
    <card.content>
    <PaperAutocomplete @disabled={{firstDisabled}} @onCreate={{action "addStudent"}} @searchMessage="Zum Suchen tippen" @allowClear={{true}} @searchText={{readonly student.name}} @selected={{student}} @search={{action "searchStudent"}} @searchField="name" @labelPath="name" @placeholder="Studierendes aussuchen" @loadingMessage="Suche Studierendes..." @noMatchesMessage="Oops, dieses Studierendes existiert nicht. Neues Studierendes eintragen?" @onSelectionChange={{pipe (action (mut student)) (action "editStudent")}} as |country autocomplete|>
            <PaperAutocompleteHighlight @label={{country.name}} @searchText={{autocomplete.searchText}} @flags="i" /> <em>{{country.uniid}}</em>
    </PaperAutocomplete>
    </card.content>
  </PaperCard>

</PaperContent>
{{#if showDialog}}<StudentCreateDialog @student={{newstudent}} @deletable={{deletable}} @closeDialog={{action "closeDialog"}} @title="Studierendes bearbeiten" />{{/if}}
