<PaperDialog @class="flex-77" @onClose={{action "exitDialog" "cancel"}} @origin={{dialogOrigin}} @clickOutsideToClose={{true}}>
  <PaperToolbar>
    <PaperToolbarTools>
      <h2>
        {{title}}
      </h2>
      <span class="flex"></span>
      <PaperButton @iconButton={{true}} @onClick={{action "exitDialog" "cancel"}}>
        <PaperIcon @icon="close" />
      </PaperButton>
    </PaperToolbarTools>
  </PaperToolbar>
  <PaperForm @onSubmit={{action "exitDialog" "ok"}} as |form|>
    <PaperDialogContent>
      <div class="flex layout-column">
        <form.input @flex={{30}} @label="Name" @id="nameinput" @tabindex={{1}} @value={{student.name}} @required={{true}} @onChange={{action (mut student.name)}} />
        <form.input @flex={{30}} @label="Uni-ID" @tabindex={{2}} @maxlength={{5}} @minlength={{5}} @required={{true}} @value={{student.uniid}} @onChange={{action (mut student.uniid)}} />
        {{#if (and (not student.refund) (not student.report))}}
          <PaperSwitch @tabindex={{5}} @flex={{30}} @value={{student.refund}} @onChange={{action (mut student.refund)}}>
            {{#unless student.refund}}
              <strong>
                kein
              </strong>
            {{/unless}}
            Pfand
            {{#if student.refund}}
              <strong>
                vorhanden
              </strong>
            {{/if}}
          </PaperSwitch>
          <PaperSwitch @tabindex={{6}} @flex={{30}} @value={{student.report}} @onChange={{action (mut student.report)}}>
            Bericht
            {{#unless student.report}}
              <strong>
                nicht
              </strong>
            {{/unless}}
            abgegeben
          </PaperSwitch>
        {{/if}}
        {{#if (and student.refund (not student.report))}}
          <PaperSwitch @tabindex={{5}} @flex={{30}} @value={{student.refund}} @onChange={{action (mut student.refund)}}>
            {{#unless student.refund}}
              <strong>
                kein
              </strong>
            {{/unless}}
            Pfand
            {{#if student.refund}}
              <strong>
                vorhanden
              </strong>
            {{/if}}
          </PaperSwitch>
          <PaperSwitch @tabindex={{6}} @flex={{30}} @value={{student.report}} @onChange={{action (mut student.report)}}>
            Bericht
            {{#unless student.report}}
              <strong>
                nicht
              </strong>
            {{/unless}}
            abgegeben
          </PaperSwitch>
        {{/if}}
        {{#if (and student.refund student.report)}}
          Bericht vorhanden,
          <br />
          <PaperButton @onClick={{action "repay" student}}>
            Pfand zurückerstatten
          </PaperButton>
        {{/if}}
        {{#if (and (not student.refund) student.report)}}
          Studi hat Pfandrückzahlung erhalten.
        {{/if}}
      </div>
    </PaperDialogContent>
    <PaperDialogActions @class="layout-row">
      <span
        class="layout-gt-xs-row layout-wrap"
        style="justify-content: space-around"
      >
        {{#if deletable}}
          <PaperButton @tabindex={{5}} @onClick={{action "exitDialog" "delete"}}>
            Löschen
          </PaperButton>
        {{/if}}
        <PaperButton @tabindex={{4}} @onClick={{action "exitDialog" "cancel"}}>
          Abbrechen
        </PaperButton>
        <PaperButton @tabindex={{3}} @onClick={{action "exitDialog" "ok" student}} @disabled={{form.isInvalid}}>
          {{#if saving}}
            {{paper-icon "rotate-right" spin=true}}
          {{/if}}
          OK
        </PaperButton>
      </span>
    </PaperDialogActions>
  </PaperForm>
</PaperDialog>
{{yield}}