<span class="flex-noshrink-5 vertical-center">
  {{moment-format from "MM.YYYY"}}
</span>
<span class="flex-90">
  <PaperDualSlider @from={{statefrom}} @to={{stateto}} @min={{readonly statemin}} @max={{readonly statemax}} @onChange={{action "calculate"}} />
</span>
<span class="flex-noshrink-5 vertical-center" style="text-align: -webkit-right">
  {{moment-format to "MM.YYYY"}}
</span>
