<PaperToolbar>
  <PaperToolbarTools>
    <PaperSidenavToggle @name="left2" as |toggleAction|>
      <PaperButton @classNames="hide-gt-sm" @iconButton={{true}} @onClick={{action toggleAction}}>
        <PaperIcon @icon="menu" />
      </PaperButton>
    </PaperSidenavToggle>
    <h2>
      Moor
      {{paper-icon "chevron-right"}}
      Mail
    </h2>
    <span class="flex"></span>
    <PaperButton @iconButton={{true}} @onClick={{action "addStudent"}}>
      {{paper-icon "person add"}}
    </PaperButton>
    <PaperButton @iconButton={{true}}>
      {{paper-icon "more_vert"}}
    </PaperButton>
  </PaperToolbarTools>
</PaperToolbar>
<PaperContent>
  <PaperCard as |card|>
    <card.title>Posteingang</card.title>
    <card.content>
      <div style="height:350px;overflow-y:scroll">
        <PaperDataTable @sortProp="createdAt" @sortDir="desc" @selectable={{true}} as |table|>
          <table.head as |head|>
            <head.column @sortProp="createdAt">
              Datum
            </head.column>
            <head.column @sortProp="fromname">
              von
            </head.column>
            <head.column @sortProp="subject">
              Betreff
            </head.column>
            <head.column>Anhänge</head.column>
            <head.column @sortProp="read">
              gelesen
            </head.column>
            <head.column>Optionen</head.column>
          </table.head>
          <table.body as |body|>
            {{#each model as |d|}}
              <body.row @edit={{true}} as |row|>
                <row.cell @onClick={{action (transition-to "moor.inmail.view" d.id)}}>
                  {{moment-format d.createdAt "DD.MM.YYYY"}}
                </row.cell>
                <row.cell @onClick={{action (transition-to "moor.inmail.view" d.id)}}>
                  {{d.fromname}}
                </row.cell>
                <row.cell @onClick={{action (transition-to "moor.inmail.view" d.id)}}>
                  {{d.subject}}
                </row.cell>
                <row.cell @onClick={{action (transition-to "moor.inmail.view" d.id)}}>
                  {{#each d.attachments as |att index|}}
                    {{if index ", "}}{{att.name}}
                  {{else}}
                    kein Anhang
                  {{/each}}
                </row.cell>
                <row.cell @checkbox={{true}}>
                  <PaperCheckbox @value={{d.read}} @onChange={{action (mut d.read)}}></PaperCheckbox>
                </row.cell>
                <row.cell>
                  <PaperButton @iconButton={{true}} @onClick={{pipe (transition-to "moor.inmail.index") (action "archiveMail" d)}}>
                    {{paper-icon "layers"}}
                    <PaperTooltip @position="top">
                      Archivieren
                    </PaperTooltip>
                  </PaperButton>
                  <PaperButton @iconButton={{true}} @onClick={{action "deleteMail" d}}>
                    {{paper-icon "delete forever"}}
                    <PaperTooltip @position="top">
                      Löschen
                    </PaperTooltip>
                  </PaperButton>
                </row.cell>
              </body.row>
            {{/each}}
          </table.body>
        </PaperDataTable>
      </div>
    </card.content>
  </PaperCard>
  {{outlet}}
</PaperContent>
{{#if showCreate}}
  <StudentCreateDialog @student={{newstudent}} @deletable={{false}} @closeDialog={{action "closeDialog"}} @title="Studierendes erstellen" />
{{/if}}