<PaperToolbar>
  <PaperToolbarTools>
    <PaperSidenavToggle @name="left2" as |toggleAction|>
      <PaperButton @classNames="hide-gt-sm" @iconButton={{true}} @onClick={{action toggleAction}}>
        <PaperIcon @icon="menu" />
      </PaperButton>
    </PaperSidenavToggle>
    <h2>
      Moor
      {{paper-icon "chevron-right"}}
      Verwaltung
      {{paper-icon "chevron-right"}}
      Prüfungsbericht
      <span class="hide-sm"></span>
    </h2>
    <span class="flex"></span>
    <PaperButton @iconButton={{true}}>
      {{paper-icon "more_vert"}}
    </PaperButton>
  </PaperToolbarTools>
</PaperToolbar>
<div class="overflow-y-scroll">
  <PaperContent>
    <PaperCard as |card|>
      <card.title as |title|>
        <title.text as |text|>
          <text.headline>{{paper-icon "search"}}Suchen</text.headline>
        </title.text>
      </card.title>
      <card.content>
        <div
          class="layout-gt-xs-row layout-wrap"
          style="justify-content: space-around"
        >
          <div class="flex-gt-xs-40">
            <SubjectAutocomplete @options={{model.subjects}} @selected={{subject}} />
          </div>
          <div class="flex-gt-xs-45">
            <TypAutocomplete @options={{model.typs}} @selected={{typ}} />
          </div>
        </div>
        {{! Prüfende }}
        <div
          class="layout-gt-xs-row layout-wrap"
          style="margin-top:20px; justify-content: space-around"
        >
          <div class="flex-gt-xs-40">
            <PruefendeChips @options={{model.examinators}} @content={{examinatora}} />
            {{!Module}}
          </div>
          <div class="flex-gt-xs-45">
            <ModulChips @options={{model.moduls}} @content={{modula}} />
            {{!Folderseries}}
          </div>
        </div>
        <div
          class="layout-gt-xs-row layout-wrap"
          style="margin-top:20px; justify-content: space-around"
        >
          <div class="flex-90">
            <FolderseriesChips @options={{model.folderseries}} @content={{folderseriesa}} />
          </div>
        </div>
        <div
          class="layout-gt-xs-row layout-wrap"
          style="margin-top:20px; justify-content: space-around"
        >
          <PaperCheckbox @value={{setRangeDate}} @onChange={{action (mut setRangeDate)}}>
            <p style="margin-bottom:0px;color: rgba(0, 0, 0, 0.5);">
              Prüfungsdatum (MM.YYYY) einschränken:
            </p>
          </PaperCheckbox>
        </div>
        {{#if setRangeDate}}
          <div
            class="layout-gt-xs-row layout-wrap"
            style="justify-content: space-around"
          >
            <div class="flex-90">
              <TimespanSlider @min={{readonly minDate}} @from={{beginExamAt}} @to={{endExamAt}} @max={{readonly maxDate}} />
            </div>
          </div>
        {{/if}}
      </card.content>
      <card.actions>
        <PaperDataPaginator @meta={{meta}} @count={{resultsLength}} @limit={{limit}} @limitOptions={{limitOptions}} @page={{page}} @pages={{pages}} @onChangePage={{action (mut page)}} @onChangeLimit={{action (mut limit)}} />
      </card.actions>
      {{#if loading}}
        <PaperProgressLinear />
      {{/if}}
    </PaperCard>
    <PaperCard as |card|>
      <card.title as |title|>
      <title.text as |text|>
          <text.headline>{{paper-icon "get_app"}}Downloadeinstellungen</text.headline>
        </title.text>
      </card.title>
      <card.content>
        <PaperAutocomplete @searchMessage="Zum Suchen tippen" @allowClear={{true}} @searchText={{readonly student.name}} @selected={{student}} @search={{action "searchStudent"}} @searchField="name" @labelPath="name" @placeholder="Studierendes aussuchen" @loadingMessage="Suche Studierendes..." @noMatchesMessage="Oops, dieses Studierendes existiert nicht. Neues Studierendes eintragen?" @onSelectionChange={{action (mut student)}} as |country autocomplete|>
                  <PaperAutocompleteHighlight @label={{country.name}} @searchText={{autocomplete.searchText}} @flags="i" /> <em>{{country.uniid}}</em>
                </PaperAutocomplete>
      </card.content>
    </PaperCard>
    <div class="layout-row layout-wrap">
      {{#each results as |report|}}
        <div class="flex-xs-100 flex-gt-xs-33-noshrink flex-gt-l-25-noshrink">
          <PaperCard as |card|>
            <card.actions>#{{report.id}}</card.actions>
            <card.image @src={{report.picture}} @alt="erste PDF-Seite des Berichts" @title="PDF-Seite" />
            <card.content>
              <PaperList>
                {{#each report.folderseries as |fs|}}
                  <PaperItem @class="md-2-line">
                    {{paper-icon "folder" class="md-avatar-icon"}}
                    <div class="md-list-item-text">
                      <h3>
                        {{fs.name}}
                      </h3>
                    </div>
                  </PaperItem>
                {{/each}}
                <PaperDivider />
                {{#each report.moduls as |modul|}}
                  <PaperItem @class="md-2-line">
                    {{paper-icon "perm media" class="md-avatar-icon"}}
                    <div class="md-list-item-text">
                      <h3>
                        {{modul.name}}
                      </h3>
                    </div>
                  </PaperItem>
                {{/each}}
                <PaperDivider />
                {{#each report.examinators as |exm|}}
                  <PaperItem @class="md-2-line">
                    {{paper-icon "perm identity" class="md-avatar-icon"}}
                    <div class="md-list-item-text">
                      <h3>
                        {{exm.surname}}
                        <em>
                          {{exm.givenname}}
                        </em>
                      </h3>
                    </div>
                  </PaperItem>
                {{/each}}
                <PaperDivider />
                <PaperItem @class="md-2-line">
                  {{paper-icon "today" class="md-avatar-icon"}}
                  <div class="md-list-item-text">
                    <h3>
                      {{moment-format report.examinationAt "MM.YYYY"}}
                    </h3>
                  </div>
                </PaperItem>
                <PaperDivider />
                <PaperItem @class="md-2-line">
                  {{paper-icon "bubble chart" class="md-avatar-icon"}}
                  <div class="md-list-item-text flex">
                    <h3 class="layout-wrap">
                      <span class="flex">
                        {{report.typ.name}}
                      </span>
                    </h3>
                  </div>
                </PaperItem>
                <PaperDivider />
                <PaperItem @class="md-2-line">
                  {{paper-icon "book" class="md-avatar-icon"}}
                  <div class="md-list-item-text flex">
                    <h3 class="layout-wrap">
                      <span class="flex">
                        {{report.subject.name}}
                      </span>
                    </h3>
                  </div>
                </PaperItem>
              </PaperList>
            </card.content>
            <card.actions>
              <PaperButton @iconButton={{true}} @onClick={{action "deleteReport" report}}>
                {{paper-icon "delete"}}
              </PaperButton>
              {{#if report.texAvailable}}
                <EmailShare @subject="Prüfungsbericht-TeX-Datei" @url={{report.id}} @body="Hallo roots, ich würde gerne hiermit die TeX-Datei für die folgende Prüfungsbericht-ID beantragen:">
                  <PaperButton @iconButton={{true}}>
                    {{paper-icon "text fields"}}
                  </PaperButton>
                </EmailShare>
              {{/if}}
              <PaperButton @iconButton={{true}} @onClick={{action "editReport" report}}>
                {{paper-icon "edit"}}
              </PaperButton>
              <PaperButton @iconButton={{true}} @onClick={{action "printReport" report}}>
                {{paper-icon "print"}}
              </PaperButton>
              {{#if student}}
              <PaperButton @iconButton={{true}} @target="_blank" @href={{concat "/api/download/" report.id "/" student.id}}>
                {{paper-icon "get_app"}}
              </PaperButton>
              {{/if}}
            </card.actions>
          </PaperCard>
        </div>
      {{/each}}
    </div>
  </PaperContent>
</div>
{{#if editReport}}
  <EditReportDialog @model={{model}} @closeDialog="closeReportDialog" @title="Bericht bearbeiten" @report={{reporttoedit}} />
{{/if}}
{{#if prd}}
  <PrintReportDialog @store={{store}} @closeDialog="closePrintDialog" @report={{reporttoprint}} />
{{/if}}
{{#if deleteReport}}
  <DeleteReportDialog @closeDialog="closeDeleteDialog" @title="Bericht löschen" @report={{reporttoedit}} />
{{/if}}