<PaperToolbar>
  <PaperToolbarTools>
    <PaperSidenavToggle @name="left2" as |toggleAction|>
      <PaperButton @classNames="hide-gt-sm" @iconButton={{true}} @onClick={{action toggleAction}}>
        <PaperIcon @icon="menu" />
      </PaperButton>
    </PaperSidenavToggle>
    <h2>
      Moor
      {{paper-icon "chevron-right"}}
      Verwaltung
      {{paper-icon "chevron-right"}}
      Prüfungsbericht
      {{paper-icon "chevron-right"}}
      Neu
      <span class="hide-sm"></span>
    </h2>
    <span class="flex"></span>
    <PaperButton @iconButton={{true}}>
      {{paper-icon "more_vert"}}
    </PaperButton>
  </PaperToolbarTools>
</PaperToolbar>
<PaperContent @class="md-padding">
  <PaperCard as |card|>
    <card.title as |title|>
      <title.text as |text|>
        <text.headline>
          {{paper-icon "color lens"}}Prüfungsbericht eintragen
        </text.headline>
      </title.text>
    </card.title>
    <card.content>
      Pflichtfelder: Studienfach, Prüfungstyp, Prüfungsdatum. Andere sehr empfohlen!
      <div
        class="layout-gt-xs-row layout-wrap"
        style="justify-content: space-around"
      >
        <div class="flex-gt-xs-40">
          <SubjectAutocomplete @required={{true}} @selected={{model.report.subject}} @options={{model.subjects}} />
        </div>
        <div class="flex-gt-xs-45">
          <TypAutocomplete @required={{true}} @selected={{model.report.typ}} @options={{model.typs}} />
        </div>
      </div>
      <div
        class="layout-gt-xs-row layout-wrap"
        style="margin-top:20px; justify-content: space-around"
      >
        <div class="flex-gt-xs-40">
          {{! Prüfende }}
          <PruefendeChips @options={{model.examinators}} @content={{model.report.examinators}} />
        </div>
        <div class="flex-gt-xs-45">
          {{!Module}}
          <ModulChips @options={{model.moduls}} @content={{model.report.moduls}} />
        </div>
      </div>
      <div
        class="layout-gt-xs-row layout-wrap"
        style="margin-top:20px; justify-content: space-around"
      >
        <div class="flex-gt-xs-40">
          {{!Folderseries}}
          <FolderseriesChips @options={{model.folderseries}} @content={{model.report.folderseries}} />
        </div>
        <div class="flex-gt-xs-45">
          <PaperPikaday @required={{true}} @label="Prüfungsdatum" @value={{readonly (moment-format model.report.examinationAt "MM.YYYY")}} @onSelection={{action (mut model.report.examinationAt)}} @onChange={{action (mut model.report.examinationAt)}} />
        </div>
      </div>
    </card.content>
    <card.actions>
      <FilePicker @preview={{false}} @readAs="readAsBinaryString" @accept=".tex" @fileLoaded="fileLoadedTex">
        <PaperButton>
          {{paper-icon "text fields"}}{{filetexName}}
        </PaperButton>
      </FilePicker>
      <span class="flex-25"></span>
      <FilePicker @preview={{false}} @readAs="readAsDataURL" @accept=".pdf" @fileLoaded="fileLoaded">
        <PaperButton>
          {{paper-icon "picture as pdf"}}{{fileName}}
        </PaperButton>
      </FilePicker>
      <span class="flex-25"></span>
      <PaperButton @onClick={{action "save"}} @disabled={{or (or (not model.report.typ) (not model.report.subject)) (not model.report.pdf)}}>
        Speichern
      </PaperButton>
    </card.actions>
    {{#if savingReport}}
      <PaperProgressLinear />
    {{/if}}
  </PaperCard>
</PaperContent>
{{#if prd}}
  <PrintReportDialog @store={{store}} @closeDialog="closePrintDialog" @report={{report2print}} />
{{/if}}
{{outlet}}