<PaperToolbar>
  <PaperToolbarTools>
    <PaperSidenavToggle @name="left2" as |toggleAction|>
      <PaperButton @classNames="hide-gt-sm" @iconButton={{true}} @onClick={{action toggleAction}}>
        <PaperIcon @icon="menu" />
      </PaperButton>
    </PaperSidenavToggle>
    <h2>
      Moor
      {{paper-icon "chevron-right"}}
      #
      {{model.report.id}}
      <span class="hide-sm"></span>
    </h2>
    <span class="flex"></span>
    <PaperButton @iconButton={{true}} @onClick={{action "printReport"}}>
      {{paper-icon "print"}}
    </PaperButton>
    <PaperButton @iconButton={{true}}>
      {{paper-icon "more_vert"}}
    </PaperButton>
  </PaperToolbarTools>
</PaperToolbar>
<PaperContent @class="md-padding">
  <ReportEditableView @report={{model.report}} @model={{model.others}} />
  {{#if printDialog}}
    <PaperSelectionDialog @title="Welche Ordnerreihen?" @class="flex-50" @fullscreen={{true}} @multiple={{true}} @options={{model.folderseries}} @selected={{folderseriesToBePrint}} @onSelect={{action (mut folderseriesToBePrint)}} @onClose={{action (pipe (action (mut printDialog) false) (action (mut examinatorDialog) true))}} as |option index selected|>
      {{option.name}}
    </PaperSelectionDialog>
  {{/if}}
  {{#if examinatorDialog}}
    <PaperSelectionDialog @title="Welche Prüfer?" @class="flex-50" @fullscreen={{true}} @multiple={{true}} @options={{model.examinators}} @selected={{examinatorsToBePrint}} @onSelect={{action (mut examinatorsToBePrint)}} @onClose={{action "printDialog"}} as |option index selected|>
      {{option.surname}},{{option.givenname}}
    </PaperSelectionDialog>
  {{/if}}
</PaperContent>