<div class="layout-gt-xs-row layout-wrap" style="justify-content: space-around">
  <div class="flex-gt-xs-50">
    <InmailDisplay @model={{readonly model.mail}} @setTexFile={{action "setPdfFile"}} @setPdfFile={{action "setPdfFile"}} @reply={{action "reply"}} />
  </div>
  <div class="flex-gt-xs-50">
    <PaperCard as |card|>
      <card.title as |title|>
        <title.text as |text|>
          <text.headline>Prüfungsbericht erstellen</text.headline>
        </title.text>
      </card.title>
      <card.content>
        <PaperAutocomplete @searchMessage="Zum Suchen tippen" @allowClear={{true}} @searchText={{readonly student.name}} @selected={{student}} @search={{action "searchStudent"}} @searchField="name" @labelPath="name" @placeholder="Wer hat den Bericht abgegeben?" @loadingMessage="Suche Studierendes..." @noMatchesMessage="Oops Dieses Studierendes existiert nicht. Neues Studierendes eintragen?" @onSelectionChange={{action (mut student)}} as |country autocomplete|>
          <PaperAutocompleteHighlight @label={{country.name}} @searchText={{autocomplete.searchText}} @flags="i" />
          <em>
            {{country.uniid}}
          </em>
        </PaperAutocomplete>
        <SubjectAutocomplete @selected={{model.report.subject}} @options={{model.subjects}} />
        <TypAutocomplete @selected={{model.report.typ}} @options={{model.typs}} />
        {{! Prüfende }}
        <PruefendeChips @options={{model.examinators}} @content={{model.report.examinators}} />
        {{!Module}}
        <ModulChips @options={{model.moduls}} @content={{model.report.moduls}} />
        {{!Folderseries}}
        <FolderseriesChips @options={{model.folderseries}} @content={{model.report.folderseries}} />
        <PaperPikaday @label="Prüfungsdatum" @required={{true}} @value={{readonly (moment-format model.report.examinationAt "MM.YYYY")}} @format="MM.YYYY" @onSelection={{action (mut model.report.examinationAt)}} @onChange={{action (mut model.report.examinationAt)}} />
      </card.content>
      <card.actions>
        <PaperButton>
          <FileUpload @preview={{false}} @readAs="readAsBinaryString" @accept=".tex" @onfileadd="fileLoadedTex">
            {{paper-icon "text fields"}}{{filetexName}}
          </FileUpload>
        </PaperButton>
        <PaperButton>
          <FileUpload @preview={{false}} @readAs="readAsDataURL" @accept=".pdf" @onfileadd="fileLoaded">
            {{paper-icon "picture as pdf"}}{{fileName}}
          </FileUpload>
        </PaperButton>
        <PaperButton @disabled={{or (or (not model.report.typ) (not model.report.subject)) (not model.report.pdf)}} @onClick={{action "save"}}>
          Speichern
        </PaperButton>
      </card.actions>
      {{#if saving}}
        <PaperProgressLinear />
      {{/if}}
    </PaperCard>
  </div>
</div>
{{#if
  showReplyDialog
  closeDialog=(action "closeMailDialog")
  action="closeMailDialog"
}}
  <MailDialog @mail={{newmail}} @closeDialog={{action "closeMailDialog"}} />
{{/if}}
{{outlet}}
{{#if prd}}
  <PrintReportDialog @store={{store}} @closeDialog="closePrintDialog" @report={{report2print}} />
{{/if}}